.bg-primary1 {
  background-color: #38003c;
}
.bg-primary3 {
  background-color: #02894e;
}
.bg-primary2 {
  background-color: #00ecb9;
}
.text-primary1 {
  color: #38003c;
}
.text-primary2 {
  color: #00ecb9;
}

.text-success2 {
  color: #2aab6a;
}

.bg-table {
  background-color: rgba(0, 0, 0, 0.05);
}

.dotted {
  border-bottom: 1px dotted #000;
}
.dotted2 {
  border-bottom: 1px dotted white;
}

.active {
  background-color: white;
  color: black;
}

@media (max-width: 767.5px) {
  .bg-sm-primary {
    background-color: #00ff87;
  }
}

.navbar {
  min-height: 50px;
}

.navbar-brand {
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 18.5px;
    padding-bottom: 18.5px;
    line-height: 19px;
  }
}

@media (min-width: 768px) {
  .lineheight > li > a {
    line-height: 0px;
  }
}
.img-fluid {
  height: 120px;
  width: 110px;
}

@media (max-width: 767.5px) {
  .img-fluid {
    display: none;
  }
}

.img-fluid {
  height: 115px;
  width: 120px;
}

@media (max-width: 767.5px) {
  .img-fluid {
    display: none;
  }
}
.img-fluid2 {
  height: 66.5px;
  width: 120px;
}

@media (max-width: 767.5px) {
  .img-fluid2 {
    display: none;
  }
}
/*
.active {
  background: green;
  height: 10%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.bg-primary3 .active {
  width: 100%;
  margin-left: -5px;
  margin-right: 50px;
  background: green;
}*/

.parent {
  background: #00816a;
  position: relative;
}
.active li {
  /* you want to see the menu :) */
  position: relative;
  z-index: 1;
}
.status.active:before {
  content: "Status";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  text-align: center;
}
.code.active:before {
  content: "Code";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  text-align: center;
}
.info.active:before {
  content: "Info";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  text-align: center;
}
.projects.active:before {
  content: "Projects";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  text-align: center;
}
.tutorials.active:before {
  content: "Tutorials";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  text-align: center;
}

.active:before {
  padding-top: 20%;
}

@media (max-width: 1300.5px) {
  .active:before {
    padding-top: 18%;
  }
}
@media (max-width: 100.5px) {
  .active:before {
    padding-top: 23%;
  }
}

@media (max-width: 767.5px) {
  .active:before {
    padding-top: 16%;
  }
}

.replImage {
  height: 37%;
}

@media (max-height: 500px) {
  .replImage {
    height: 50%;
  }
}
@media (max-height: 300px) {
  .replImage {
    height: 80%;
  }
}
